{% extends "/base.html.twig" %}

{% block title 'Login' %}

{% block body %}
    <h1>{{'label.signin'|trans}}</h1>
    <form novalidate method="POST">
        <div>
            <label for="email">{{'label.email'|trans }}:</label><br>
            <input 
            type="email" 
            id="email" 
            name="email" 
            value="{{app.session.get(constant('App\\Controller\\SecurityController::LAST_EMAIL'))}}" 
            required autofocus>
        </div>
        <div>
            <label for="password">{{'label.password'|trans }}:</label><br>
            <input type="password" id="password" name="password" required autofocus>
        </div>
        <div>
            <label for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me">
                {{'label.remember_me'|trans }}
            </label>
        </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token('login_form') }}">
            
            <input type="submit" value={{'label.signin'|trans }}>
        <div/>
    </form>
{% endblock %}