<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ path('app_home')}}"><i class="fa fa-home" style="font-size:45px;color:grey"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      {% if app.user %}
      <li class="nav-item active">
        <a class="nav-link" href="#">{{'label.secret'|trans }}<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('app_payment')}}">{{'label.payment'|trans }}</a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{'label.search'|trans}}</button>
      {% if app.user %}
      <a class="nav-link mr-sm-2" href="{{ path('app_logout')}}">{{'label.logout'|trans}}</a>
      {% else %}
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> 
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('app_login')}}">{{'label.login'|trans}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_register')}}">{{'label.register'|trans}}</a>
        </li>
      </ul>
      {% endif %}
       <div class="dropdown">
        <button class="btn" type="button" data-toggle="dropdown">
            <i class="fa fa-globe" style="font-size:40px;color:white"></i>
          <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right">
            {% for locale in locales %}
              {% if locale != app.request.locale %}
              <li>&nbsp;&nbsp;<a href="{{ path('change_locale', {'locale':locale})}}"><img src="{{ asset('build/img/'~locale~'.png')}}" width="20px" height="20px" alt="{{locale}}">&nbsp;
              {% if locale == 'en'%} Englais {% endif %}
              {% if locale == 'fr'%} Français {% endif %}
              {% if locale == 'esp'%} Espagnol {% endif %}
              {% if locale == 'mlg'%} Malagasy {% endif %}</a>
              </li>
              {% endif %}
            {% endfor %}
            {# <li>&nbsp;&nbsp;<a href="#"><img src="{{ asset('build/img/fr.png')}}" width="20px" height="20px" alt="fr">&nbsp;Français</a></li>
            <li>&nbsp;&nbsp;<a href="#"><img src="{{ asset('build/img/esp.png')}}" width="20px" height="20px" alt="esp">&nbsp;Espagnol</a></li>
            <li>&nbsp;&nbsp;<a href="#"><img src="{{ asset('build/img/mlg.png')}}" width="20px" height="20px" alt="esp">&nbsp;Malagasy</a></li> #}
          </ul>
        </div>
        

    </form>
  </div>
</nav>